@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a,
li {
  display: inline-block;
}

// hero section
.hero {
  background: #c1ddec;
  .hero-bg {
    background: url('./images/hero.webp') no-repeat top right/cover;
    background-size: 88%;
  }
}

// slider section
.slider {
  max-width: 1244px;
  margin: auto;
  margin-top: -4rem;
  margin-bottom: 3rem;
}

.shop {
  max-width: 1244px;
  margin: 0 auto 5rem;
}
