@tailwind base;
@tailwind components;
@tailwind utilities;

$hero-bg: './images/hero/hero.webp';
$flu-bg: './images/flu/wellnessDP.jpg';
$virus-bg: './images/covidDP.jpg';

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a,
li,
span {
  display: inline-block;
}

// hero section
.hero {
  background: #c1ddec;
  .hero-bg {
    background: url($hero-bg) no-repeat top right/cover;
    background-size: 88%;
  }
}

// slider section
.slider {
  max-width: 1244px;
  margin: auto;
  margin-top: -4rem;
  margin-bottom: 3rem;
}

.shop {
  max-width: 1244px;
  margin: 0 auto 5rem;
}

// flu section
.flu {
  background: url($flu-bg) no-repeat;
  background-size: cover;
}

// virus section
.virus {
  background: url($virus-bg) no-repeat top left/cover;
}
